/* ul li???????? */

/* ????class?menu??div?е?ul??? */
div.menu ul
{
    list-style:none; /* ???ul??????? */
    margin: 0px; /* ?????????????0 */
    padding: 0px; /* ?????????????0 */
    width: auto; /* ???????????????? */
}
/* ????class?menu??div?е?ul?е?li??? */
div.menu ul li
{
    float:left; /* ???????????????????? */
}
/* ????class?menu??div?е?ul?е?a???(??????δ???????????????) */
div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71; /* ????? */
    border: 1px #4e667d solid; /* ??? */
    color: #dde4ec; /* ??????? */
    display: block; /* ???????????鼶???????????????л??з? */
    line-height: 1.35em; /* ?и? */
    padding: 4px 20px; /* ?????????? */
    text-decoration: none; /* ???????????????? */
    white-space: nowrap; /* ????????????????????У???????????????????????????? <br> ??????? */
}
/* ????class?menu??div?е?ul?е?a???(????????????е????) */
div.menu ul li a:hover
{
    background-color: #bfcbd6; /* ????? */
    color: #465c71; /* ??????? */
    text-decoration: none; /* ???????????????? */
}
/* ????class?menu??div?е?ul?е?a???(??????????????) */
div.menu ul li a:active
{
    background-color: #465c71; /* ????? */
    color: #cfdbe6; /* ??????? */
    text-decoration: none; /* ???????????????? */
}